{% extends "genericLayout.twig" %}
{% block content %}
    <table id="dtMaterialDesignExample" class="table table-striped" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="th-sm">Estado</th>
            <th class="th-sm">Fecha</th>
            <th class="th-sm d-lg-table-cell d-none">Nombre cliente</th>
            <th class="th-sm d-lg-table-cell d-none">Email cliente</th>
            <th class="th-sm d-lg-table-cell d-none">Telefono cliente</th>
            <th class="th-sm">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for p in orders %}
            <tr>
                {% if p.status == "CONFIRMED" %}
                    <td><button class="changeStatus btn btn-primary" value="{{p.id}}">{{ p.status }}</button></td>
                {% elseif p.status == "ORDERED" %}
                    <td><button class="btn btn-warning changeStatus" value="{{p.id}}">{{ p.status }}</button></td>
                {% else %}
                    <td><button class="changeStatus btn btn-success" value="{{p.id}}">{{ p.status }}</button></td>
                {% endif %}
                <td>{{ p.date }}</td>
                <td class="d-lg-table-cell d-none">{{ p.client_name }}</td>
                <td class="d-lg-table-cell d-none">{{ p.client_email }}</td>
                <td class="d-lg-table-cell d-none">{{ p.client_number }}</td>
                <td>
                    <a href="index.php?controller=Order&action=details&idOrder={{p.id}}" class="btn btn-outline-primary"><i class="fas fa-eye"></i> </a>
                    <a href="index.php?controller=Order&action=deleteOrder&idOrder={{p.id}}" class="btn btn-outline-danger"><i class="fas fa-trash"></i> </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Comentario</th>
            <th>Fecha</th>
            <th class="d-lg-table-cell d-none">Nombre cliente</th>
            <th class="d-lg-table-cell d-none">Email cliente</th>
            <th class="d-lg-table-cell d-none">Telefono cliente</th>
            <th>Acciones</th>
        </tr>
        </tfoot>
    </table>
{% endblock %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<h3>¡Hola '.$name.'!</h3>
<table>
    <tr>
        <td>
            <b>Producto</b>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <b>Unidades</b>
        </td>
    </tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
        <b>Precio</b>
    </td>
    <tr>
        <td>'.$c["name"].'</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>'.$c["quantity"].'</td>
    </tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>'.$c["prize"].'</td>
    <tr>
        <td>
            <b></b>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <b>Total</b>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <td>
        <b>'.$total.'</b>
    </td>
</table>
<p>Haga click aqui para confirmar su pedido</p>
<a href="'.$url.'" style="color: #82005E; text-decoration: none; font-weight: bold;">Confirmar</a>
</body>
</html>