{% extends "genericLayout.twig" %}
{% block content %}
    <table id="dtMaterialDesignExample" class="table table-striped" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="th-sm">Comentario</th>
            <th class="th-sm">Fecha</th>
            <th class="th-sm d-lg-table-cell d-none">Nombre cliente</th>
            <th class="th-sm">Email cliente</th>
            <th class="th-sm d-lg-table-cell d-none">Telefono cliente</th>
            <th class="th-sm">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for p in orders %}
            <tr>
                <td>{{ p.commentary }}</td>
                <td>{{ p.date }}</td>
                <td class="d-lg-table-cell d-none">{{ p.client_name }}</td>
                <td>{{ p.client_email }}</td>
                <td class="d-lg-table-cell d-none">{{ p.client_number }}</td>
                <td>
                    <a href="index.php?controller=Product&action=details&idProduct={{ p.id }}" class="btn btn-outline-primary"><i class="fas fa-edit"></i> <span class="d-lg-inline d-none">Editar</span></a>
                    <a href="" class="btn btn-outline-danger"><i class="fas fa-trash"></i><span class="d-lg-inline d-none">Eliminar</span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Comentario</th>
            <th>Fecha</th>
            <th class="d-lg-table-cell d-none">Nombre cliente</th>
            <th>Email cliente</th>
            <th class="d-lg-table-cell d-none">Telefono cliente</th>
            <th>Acciones</th>
        </tr>
        </tfoot>
    </table>
{% endblock %}