{% extends "genericLayout.twig" %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Usuario</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
            <tr class="table-primary">
                 <th scope="row">{{ current.id }}</th>
                <td>{{ current.user }}</td>
                <td></td>
            </tr>
        {% for a in admins if id != a.id %}
            <tr {% if id == a.id %}class="table-primary" {% endif %}>
                <th scope="row">{{ a.id }}</th>
                <td>{{ a.user }}</td>
                <td>
                    {% if id != a.id %}
                        <a href="index.php?controller=User&action=delete&idUser={{ a.id }}" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Elminiar</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}