{% extends "genericLayout.twig" %}
{% block content %}
    <form action="index.php?controller=Product&action=insert&idProduct={{ product.id }}&mode=update" class="col-md-6 offset-md-3" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input id="name" name="name" class="form-control" type="text" value="{{ product.name }}" required maxlength="30">
        </div>
        <div class="form-group">
            <label for="descr">Descripcion</label>
            <textarea id="descr" name="descr" class="form-control" type="text" required maxlength="255">{{ product.description }}</textarea>
        </div>
        <div class="form-group">
            <label for="prize">Precio</label>
            <input id="prize" name="prize" class="form-control" type="text" value="{{ product.prize }}" pattern="^[0-9]{1,2}.[0-9]{1,2}$" required>
        </div>
        <div class="form-group">
            <img src="img/productImg/{{ product.img }}" width="100">
            <input type="hidden" name="prevImg" value="{{ product.img }}">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Imagen</span>
            </div>
            <div class="custom-file">
                <input type="file" name="img" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" required>
                <label class="custom-file-label" for="inputGroupFile01">Elegir archivo</label>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-success"><i class="fas fa-save"></i> Guardar</button>
    </form>
{% endblock %}