{% for product in search %}
    <div class="card col-md-4 col-6 p-0" style="width: 18rem;">
        <img id="{{ product.id }}" src="img/productImg/{{ product.img }}" class="card-img-top" alt="..." {#onclick="modal(this.id)"#}
             data-toggle="modal" data-target="#ProductModal"
             data-id="{{ product.id }}"
             data-name="{{ product.name }}"
             data-prize="{{ product.prize }}"
             data-img="{{ product.img }}"
             data-desc="{{ product.description }}">
        <div class="card-body">
            <p class="card-text row">
                <span class="col-8">{{ product.name }}</span>
                <span class="col-4"><b>{{ product.prize }} €</b></span>
            </p>
        </div>
    </div>
{% endfor %}